body {
    background-color: black;
}

.page-wrapper {
    width: calc(100vw - 60px);
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    background: url("assets/images/nav_bar.png") no-repeat;
    background-size: cover;
    width: calc(100vw - 60px);
    position: fixed;
    height: 192px;
    vertical-align: bottom;
    z-index: 99;
}

.page-title {
    color: white;
}

.inline-block {
    display: inline-block;
}

.right {
    float: right;
}

.media-listing {
    width: calc(100vw - 60px);
}

.media-entry {
    margin-bottom: 90px;
}

.poster{
    width: 100%;
    max-height: 272px;
    max-width: 182px;
}

.poster-wrapper {
    margin-bottom: 24px;
}

.poster-title {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-wrapper {
    margin: 0 auto !important;
    padding-top: 228px !important;
}

.search, .search-button{
    display: none;
}

.active{
    display: inline-block;
}

.page-title, .nav-back-wrapper, .display-input-wrapper, .search-button-wrapper{
    height: 192px;
    display: table-cell;
    vertical-align: middle;
}

.page-title{
    padding-left: 30px;
}

.header{
    vertical-align: middle;
}

.table-cell{
    display: table-cell;
}

@media (max-width: 767px) {
.search-wrapper{
    display: none;
} 
}