body {
    background-color: black;
}

.page-wrapper {
    width: calc(100vw - 30px);
    height: 100vh;
    padding-left: 30px;
}

.header {
    background: url("assets/images/nav_bar.png") no-repeat;
    background-size: cover;
    width: calc(100vw - 30px);
    position: fixed;
    height: 192px;
    vertical-align: bottom;
    z-index: 99;
}

.page-title {
    color: white;
    font-size: 1em;
}

.inline-block {
    display: inline-block;
}

.right {
    float: right;
}

.back-button, .search-button{
    width: 100%;
    display: block;
    max-width: 20px;
    min-width: 15px;
}

.media-listing {
    width: calc(100vw - 60px);
}

.media-entry {
    margin-bottom: 90px;
}

.poster{
    width: 100%; 
    height: auto;
}

.poster-wrapper {
    margin-bottom: 24px;
}

.poster-title {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-wrapper {
    margin: 0 auto !important;
    padding-top: 228px !important;
}

.search, .search-button{
    display: none;
}

.active{
    display: inline-block;
}

.header{
    vertical-align: middle;
}

.table-cell{
    display: table-cell;
}

.search-wrapper{
    margin-top: 70px;
    text-align: right;
}

#search-input{
    width: 100%;
}

.margin-top-70{
    margin-top: 70px;
}



@media screen and (min-width: 437px) {
  .page-title  * {
    font-size: 15px;
  }
}

@media screen and (max-width: 436px) {
  .page-title  * {
    font-size: 10px;
  }
}